.statisticsContainer {
  background-color: #f9f9f9;

  .container_middle {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 6rem 0;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
}

.description {
  width: 100%;
  font-size: 20px;
  color: #888;
  font-weight: 500;
  margin-top: 20px;
  @media (min-width: 768px) {
    width: 45%;
  }
}

.mainText {
  width: 100%;
  font-weight: 500;
  color: #000;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    width: 60%;
  }

  .text {
    font-size: 2rem;
    margin-top: 1.5rem;
    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }
}

.statistics {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;

  @media (max-width: 768px) {
    justify-content: center;
    flex-direction: column;
  }
}

.statItem {
  text-align: center;

  @media (max-width: 768px) {
    margin: 2rem 0;
  }

  h1 {
    font-size: 5rem;
    margin: 0;
    color: #000;
    font-weight: 500;

    @media (min-width: 768px) {
      font-size: 8rem;
    }
  }

  p {
    font-size: 1.5rem;
    color: #888;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
}
