.footer {
  display: flex;
  gap: 8rem;
  width: 100%;
  .container_footer {
    max-width: 1720px;
    width: 100%;
    margin: 4rem auto;
    @media (max-width: 1920px) {
      padding: 0 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
  }

  .left {
    width: 15%;
    font-size: 1rem;
    font-weight: 600;

    @media screen and (max-width: 768px) {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .right {
    width: 100%;

    .social {
      font-weight: 500;
      font-size: 2rem;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding-top: 3rem;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: #6a08d9;
        }
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        font-size: 1.5rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .email {
    margin: 8rem 0;
    font-size: 3rem;
    text-align: end;

    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 1.8rem;
      margin: 4rem 0;
    }

    .email_link {
      padding: 5rem 5rem 2rem 0;
      border-bottom: 2px solid white;
      text-decoration: none;
      color: white;
      position: relative;

      @media screen and (max-width: 768px) {
        padding: 0 2rem 1rem 0;
        font-size: 12px;
      }

      .icon {
        font-size: 80px;
        position: absolute;
        bottom: 22px;
        right: -16px;

        @media screen and (max-width: 768px) {
          font-size: 30px;
          margin-bottom: 10px;
          bottom: 1px;
          right: -10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    .text {
      position: relative;
    }
    .img {
      position: absolute;
      left: -30px;
      @media screen and (max-width: 768px) {
        left: -20px;
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}
