.loaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
  transition: opacity 0.5s ease;
  padding: 20px;

  &.exit {
    opacity: 0;
  }
}

.loadingText {
  font-weight: 400;
  margin: 0;
  font-size: 5rem;
  transition: opacity 1s ease, transform 1s ease;
}

.percentage {
  font-size: 12rem;
  margin: 0;
  position: absolute;
  bottom: 20px;
  font-weight: 500;
  right: 20px;
  transition: opacity 1s ease, transform 1s ease;
}

.blackOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 10;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

@media (max-width: 1024px) {
  .loadingText {
    font-size: 3rem;
  }

  .percentage {
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  .loaderContainer {
    padding: 10px;
  }

  .loadingText {
    font-size: 2.5rem;
  }

  .percentage {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .loadingText {
    font-size: 2rem;
  }

  .percentage {
    font-size: 4rem;
  }
}
